.main-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.left-nav {
  
  
  > ul {
    > li {
      padding: 5px;
      padding-top: 15px;
      padding-left: 25px;
    }
  }


  #search-modal-btn {
    background-color: $light-gray;
  }

  span {
    font-weight: 900;
    font-family: $sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
  }



}

.right-nav  {
  > ul {

    > li {
      padding: 5px;
      padding-top: 5px;
      padding-left: 5px;
    }

    > li:last-of-type {
    }
  }
  
  i {
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    background-color: $light-gray;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
